body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 20px;
}

p {
    font-size: 12px;
    color: lightgray;
}

.div-element {
    border: 2px dotted;
    width: 100px;
    height: 100px;
}

ol {
    list-style-type: lower-alpha;
}

ul {
    list-style-type: square;
}
